.ordering-sequence_progress-bar {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}

.ordering-sequence_board-rendering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ordering-sequence_board-rendering > img {
  width: 60%;
  max-height: 200px;
}

.ordering-sequence_item-selection-board {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.selection-board_left {
  display: flex;
  flex-direction: column;
}

.selection-board_center {
  display: flex;
  flex-direction: column;
}

.selection-board_right {
  display: flex;
  flex-direction: column;
}
