.homepage-wrapper {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-paragraph {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 50%;
  justify-content: center;
  /* padding-right: 25%;
  padding-left: 25%; */
}

.homepage-images {
  display: flex;
  flex-wrap: nowrap;
}

#subheading {
  color: #FAB4A0;
  font-size: 25px;
}

.homepage-paragraph > h4 {
  color: #CC0202;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
}

.homepage-paragraph > p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.homepage-wrapper > button {
  color: #FAB4A0;
  background-color: white;
  border: 4px solid #FAB4A0;
  border-radius: 10px;
  font-size: 20px;
  margin: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 0;
}

.homepage-wrapper > button:hover {
  color: #CC0202;
  background-color: white;
  border: 5px solid #CC0202;
  opacity: 0.8;
  border-radius: 10px;
  font-size: 20px;
  margin: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 0;
}
