.homepage-wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-paragraph {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
}

#subheading {
  color: #FEC8A9;
  font-size: 25px;

}

.homepage-paragraph > h4 {
  color: #CC0202;
  font-size: 35px;
  font-weight: 100;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 25px;
}

.homepage-paragraph > p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.homepage-wrapper > button {
  color: #CC0202;
  background-color: white;
  border: 3px solid #CC0202;
  border-radius: 10px;
  font-size: 20px;
  margin: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
